#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #eeeeee;
}
.form{
  display:flex;
  justify-content: center;
  align-items: center;
}
.form-items{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:30px;
  width:400px; 
}
.flashcard{
  border:2px solid #eee;
  cursor:pointer;
  margin:10px;
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ques,.ans {
  margin-bottom: 15px;
  width:450px;
  height:50px;
  font-size: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
